* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.job-index-wrapper {
  background: #2e3740;
  min-height: 100vh;
  min-width: 100vw;
  cursor: default;
}

.job-index-wrapper::-webkit-scrollbar {
  display: none;
}

.job-index-item-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.job-index-item {
  position: sticky;
  background-color: #2e3740;
  border: 1px solid #1fce6d;
  border-radius: 10px;
  height: 265px;
  width: 460px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  display: flex;
  cursor: pointer;
  margin-bottom: 30px;
}

.job-index-item:hover {
  background-color: #6b6b6b;
  transform: scale(1.02);
}

.job-it-image-wrapper {
  border: 1px solid white;
  border-radius: 10px;
  width: 230px;
  text-align: center;
  display: flex;
  justify-items: stretch;
  overflow: hidden;
}

.job-it-text-wrapper {
  height: 250px;
  width: 200px;
  overflow-x: scroll;
  text-align: left;
  margin-left: 10px;
  color: #1fce6d;
}

.job-index-header {
  font-family: 'Montserrat', sans-serif;
  color: #1fce6d;
  text-align: center;
}

.job-index-label {
  color: rgb(12, 247, 0);
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 700;
}

.job-index-value {
  display: block;
  color: rgb(210 154 25 / 81%);
  font-size: 0.9rem;
  font-weight: 900;
}
