@media (min-width: 700px) {
  .job-post-outer {
    display: flex;
  }
}

input[type='file'] {
  font-size: 0.5rem;
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
:-ms-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

/* @keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.job-post-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background: linear-gradient(132deg, #d75364, #874bee, #414567); */
  /* background-size: 400% 400%; */
  /* animation: Gradient 15s ease infinite; */
}

.job-post-input-desc {
  height: 10rem;
  width: 15rem;
}

.job-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-post-form {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.job-post-form-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.job-form-google-map-container {
  display: flex;
  object-fit: contain;
  max-width: 20%;
  max-height: 20%;
}

.job-form-map {
  max-width: 30%;
  max-height: 45%;
  top: 100px;
  border: 4px solid #000;
}

.job-post-fields {
  flex-direction: column;
  max-width: 2%;
  max-height: 100%;
}

.job-post-fields button {
  width: 100px;
}

.job-post-input-box {
  width: 50vw;
}

.job-form-btn {
  transition: 0.5s;
  overflow: hidden;
}

.job-form-btn:hover {
  background: #029343;
}

.job-post-lvl-btn {
  width: 345px;
}

.upload-photos-text {
  font-size: 1rem;
}
