input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.input-field {
  font-weight: 600;
  font-size: small;

  margin: 5px;
  padding: 5px;
  background: rgba(17, 17, 17, 0.87);
  box-shadow: none;
  border-radius: 12px;
  border: #1fce6d 1px solid;
  color: white;
  padding-left: 10px;
}

.job-edit-input-date {
  cursor: text;
}

.job-edit-outer {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background: #2e3740;
  cursor: default;
  color: white;
}

.job-edit-body-wrapper {
  display: flex;
  min-width: 100vw;
  min-height: 640px;
  flex-direction: column;
  align-items: center;
  /* test  */
  height: 90vh;
  /* border: solid red 3px; */
  justify-content: center;
}

.job-edit-body-inner-wrapper {
  display: flex;
  max-width: 50%;
  min-width: 50%;
}

.color-one {
  color: #1fce6d;
  font-size: medium;
  font-weight: 800;
}

.color-two {
  color: white;
  font-size: large;
  font-weight: 800;
  padding-bottom: 15px;
}

.job-edit-info-left-side {
  padding: 30px;
  min-width: 50%;
  width: 50%;
  display: block;
}

.job-edit-info-right-side {
  padding: 30px;
  min-width: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.job-edit-title {
  /* padding-bottom: 15px; */
  color: #1fce6d;
  font-size: xx-large;
  font-weight: 800;
}

.job-edit-input-desc {
  margin-left: 0;
  width: 85%;
  min-height: 150px;
}

.job-edit-difficulty-title {
  display: flex;
}

.job-edit-two-objects-wrap {
  display: flex;
  align-items: baseline;
}

.job-edit-select {
  font-family: 'Montserrat', sans-serif;

  color: #1fce6d;
  background: rgba(17, 17, 17, 0.87);
  border: 1px solid #1fce6d;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: small;
  margin: 5px;
  padding: 5px;
  /* width: 40%; */
}

.job-edit-select-dropdown {
  font-family: 'Montserrat', sans-serif;

  color: #1fce6d;
  background: rgba(17, 17, 17, 0.87);
  border: 1px solid #1fce6d;
  border-radius: 12px;
  font-weight: 600;
  font-size: small;
}

.job-edit-map-container {
  min-height: 50%;
  object-fit: contain;
  display: block;
  position: relative;
  max-width: 80%;
}

.job-edit-map {
  margin: 10px;
  max-height: 85%;

  border-radius: 12px;
}

.job-edit-pictures-wrap {
  display: flex;
  object-fit: contain;
  transition: 0.6s ease-in;
}

.job-edit-single-picture-wrap {
  padding: 5px;
}

.job-edit-picture {
  height: 50px;
  width: 50px;
  border-radius: 12px;
  border: solid 3px #1fce6d;
  transition: 0.6s ease-in;
}

.job-edit-single-picture-wrap:hover .job-edit-picture {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: 200px;
}

.edit-distance-text {
  color: rgb(218, 70, 70);
  font-size: 1rem;
}

.edit-distance-num {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding-left: 10px;
  padding-right: 10px;
}

.job-edit-upload {
  font-weight: 600;
  font-size: small;

  margin: 5px;
  padding: 5px;
  background: rgba(17, 17, 17, 0.87);
  box-shadow: none;
  border-radius: 12px;
  border: #1fce6d 1px solid;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-bottom: 10px;
  width: 120px;

  cursor: pointer;
}

.job-edit-upload-wrap {
  margin-top: 5px;
  margin-bottom: 10px;
}

.job-edit-input-pickup {
  margin-left: 0;
}

.job-edit-input-dest {
  margin-left: 0;
}

.job-edit-select {
  margin-left: 0;
}

.job-edit-btn {
  margin-top: 10px;
  margin-right: 10px;
}

.job-edit-errors {
  color: red;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-bottom: 15px;
}
