@media (min-width: 700px) {
  .job-post-outer {
    display: flex;
  }
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
:-ms-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

.job-edit-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #2e3740;
  min-height: 100vh;
}

.job-edit-text {
  font-size: 21px;
  width: 10rem;
  color: rgb(218, 188, 70);
}

.job-edit-input-desc {
  height: 5rem;
  width: 21rem;
}

.job-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-edit-form {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  width: 50%;
}

.job-edit-form-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.job-edit-google-map-container {
  display: flex;
  object-fit: contain;
  max-width: 20%;
  max-height: 20%;
}

.job-edit-map {
  max-width: 20%;
  max-height: 50%;
  top: 20rem;
  border: 4px solid #000;
}

.job-edit-fields {
  flex-direction: column;
  max-width: 2%;
  max-height: 100%;
}

.job-edit-fields button {
  width: 100px;
}

.job-edit-input-box {
  width: 90vw;
}

.job-edit-btn {
  transition: 0.5s;
  overflow: hidden;
  padding: 4px;
  margin-top: 2rem;
}

.job-edit-btn:hover {
  background: #029343;
}

.job-edit-btn-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.jobs-edit-img {
  width: 90%;
  height: 90%;
}

.job-post-lvl-btn {
  width: 345px;
  margin-top: 18px;
}

.edit-upload-photos-text {
  color: rgb(218, 188, 70);
  font-size: 1rem;
}

.edit-start-end-date {
  font-size: 1.1rem;
  color: rgb(218, 188, 70);
  margin-right: 15px;
  padding: 5px;
}

.edit-form-btn:hover {
  background: #029343;
}

.preview-photos {
  display: flex;
}

.preview-img {
  margin: 5px;
  padding-top: 10px;
  width: 45px;
  height: 45px;
}
