@media (min-width: 700px) {
  .job-post-outer {
    display: flex;
  }
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
:-ms-input-placeholder {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

input[type='file'] {
  font-size: 0.7rem;
  color: white;
}

.job-post-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #2e3740;
  min-height: 100vh;
  cursor: default;
}

.job-post-text {
  font-size: 21px;
  width: 10rem;
  color: rgb(218, 70, 70);
}

.job-post-input-desc {
  height: 5rem;
  width: 21rem;
}

.job-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-post-form {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  width: 50%;
}

.job-post-form-box {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.job-form-google-map-container {
  display: flex;
  object-fit: contain;
  max-width: 20%;
  max-height: 20%;
}

.job-form-map {
  max-width: 20%;
  max-height: 50%;
  top: 20rem;
  border: 4px solid #000;
}

.job-post-fields {
  flex-direction: column;
  max-width: 2%;
  max-height: 100%;
}

.job-post-fields button {
  width: 100px;
}

.job-post-input-box {
  width: 50vw;
}

.job-form-btn {
  transition: 0.5s;
  overflow: hidden;
  padding: 4px;
  margin-top: 2rem;
}

.job-form-btn:hover {
  background: #029343;
}

.job-post-lvl-btn {
  width: 345px;
  margin-top: 18px;
}

.upload-photos-text {
  color: rgb(218, 70, 70);
  font-size: 1rem;
}

.jobs-new-img-container {
  height: 100%;
}

.jobs-new-img {
  width: 90%;
  height: 90%;
}

.form-start-end-date {
  font-size: 1.1rem;
  color: rgb(218, 70, 70);
  margin-right: 15px;
  padding: 5px;
}

.form-distance-container {
  width: 20rem;
  margin-bottom: 1.2rem;
}

.form-distance-text {
  color: rgb(218, 70, 70);
  font-size: 1rem;
}

.form-distance-num {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding-left: 20px;
}
