
.loader-outter{
  background-color: #2e3740;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loader-text {
  position: absolute;
  top: 5%;
  color: #1fce6d;
  font-size: 1.5em;
  text-align: center;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f8f8ff;
  border-radius: 50%;
  border-top: 16px solid #1fce6d;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



