
.about-us-outter {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2e3740;
}

.about-us-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  min-height: 100%;
  padding-left: 10px;
  padding-bottom: 30px;
}

.about-us-person {
  display: flex;
  min-width: 45%;
  width: 45%;
  height: 40%;
  margin: 10px 0px 10px 0px;
  outline: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(177 191 206 / 50%);
  background-color: #2e3740;
}

.about-us-person:hover {
  /* background: #2e3740; */
  border: 1px solid #f8f8ff;
}

.about-us-person-img {
  min-height: 39%;
  min-width: 39%;
}

.about-us-avatar {
  height: 100%;
  width: 100%;
}

.about-us-person-desc {
  min-width: 52%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding-left: 10px;
}

.about-us-names {
  color: #f8f8ff;
  font-weight: 700;
  padding-top: 20px;
}

.about-us-p {
  font-weight: 500;
  font-size: 16px;
  color: #1fe36d;
}