.user-show-page {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background: #2e3740;
  color: white;
}

.user-info-wrapper {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 60px;
  font-size: 20px;
  
}

.show-page-wrapper {
  display: flex;
}

.user-image-wrap {
  border-radius: 30px;
  margin-top: 30px;
  border: 1px solid white;
  height: 290px;
  width: 290px;
  text-align: center;
  display: flex;
  justify-items: stretch;
  overflow: hidden;
}

.user-image {
  height: 100%;
  width: 100%;
  /* border-radius: 150px; */
}

.user-name {
 display: flex;
 justify-content: center;
 padding: 10px 0;
}

.user-lastname {
  margin-left: 5px;
}

.user-info-text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.user-email {
  padding: 10px 0;
}

.average-rating {
  padding: 10px 0;
}

.name-edit-button {
  padding: 10px 0;
}

.job-info-wrapper {
  border: 1px solid white;
  max-height: 500px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: scroll;
  background-color: rgb(253, 253, 253);
  color: black;
}

.show-page-wrapper {
  display: grid;
  grid-template-columns: 410px;
}

.job-info-index-wrapper {
  /* overflow: scroll; */
  /* display: grid; */
  /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
  /* grid-gap: 10px; */
  /* justify-items: center; */
  margin: 10px 10px;
  /* border: 1px solid white; */

  
}

.job-info-header {
  display: grid;
  grid-template-columns: 130px repeat(4, minmax(0, 1fr));
  font-size: 14px;
  justify-items: center;
  margin: 0 20px;
  border-bottom: 1px solid black;
}

.rest-wrapper {
  grid-column-start: 2;
}

.job-info-wrapper > h2 {
  padding-left: 30px;
  /* background-color: rgb(150, 238, 150); */
}

.job-header {
  background-color: #1fce6d;
}

.job-info-index {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 130px repeat(4, minmax(0, 1fr));
  justify-items: center;
  color: black;
  cursor: pointer;

  /* border: 1px solid white; */
}

.job-info-index > p {
  margin-left: 20px;
}

.job-info-index:hover {
  background-color: #1fce6d;
}

.review-header {
  padding-left: 30px;
  /* background-color: turquoise; */
  background-color: #1fce6d;
}

.review-info-index-wrapper {
 
}

.review-info-wrapper {
  margin: 20px 0;
  border: 1px solid white;
  min-width: 600px;
  max-height: 550px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: scroll;
  background: white; 
  color: black;
}

.review-info-container {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
  margin: 0 10px;
}

.review-info-index {
  display: flex;
  /* justify-content: space-around; */
  /* padding: 15px 0; */
  /* border: 1px solid salmon; */
  width: 90%;
  
}

.review-info-container:hover {
  background-color: #1fce6d;
}

.review-info-buttons {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  /* padding: 15px 0; */
}


#filled-star {
  color: #f7f709;
  /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}

#unfilled-star {
  /* color: #f7f709; */
  /* text-shadow: -0.5px 0 #000, 0 0.5px #000, 0.5px 0 #000, 0 -0.5px #000; */
}

.review-delete-button {
  cursor: pointer;
  /* font-size: 20px; */
  border: 1px solid white;
  background-color: white;
  color: black;
  /* padding: 0 2px; */
  border-radius: 3px;
  margin-right: 10px;
}

.review-delete-button:hover {
  color: red;
}

.no-review-message {
  text-align: center;
}

.review-info-stars {
  /* border: 1px solid seagreen; */
  margin-left: 10px;
  width: 150px;
  /* width: 10%; */
  padding: 0 10px;
}

.review-info-title {
  /* border: 1px solid purple; */
  width: 60%;
  text-overflow: hidden;
}
.review-info-date {
  /* border: 1px solid rosybrown; */
  /* width: 10%; */
  padding-right: 20px;
}

.review-info-buttons {
  /* border: 1px solid greenyellow; */
}
