.navbar {
  position: relative;
}

.navbar-wrapper {
  background-color: transparent;
  position: relative;
  /* max-width: 1920px; */
  /* margin: 0 auto; */
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;

  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.navbar-left-wrap {
  display: flex;
  margin-left: 30px;
  max-height: 40px;
}

.navbar-right-wrap {
  display: flex;
  margin-right: 30px;
  height: 100%;
}

.navbar-login-button {
  margin-left: 10px;
  height: 40px;
}

.logo-link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
