.navbar {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.navbar-wrapper {
  background-color: transparent;
  position: relative;
  /* max-width: 1920px; */
  /* margin: 0 auto; */
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;

  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.navbar-left-wrap {
  display: flex;
  margin-left: 30px;
  max-height: 40px;
}

.navbar-right-wrap {
  display: flex;
  margin-right: 30px;
  height: 100%;
}

.navbar-login-button {
  margin-left: 10px;
  height: 40px;
}

.logo-link {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.navbar-menu {
  display: none;
  position: absolute;
  right: 30px;
  background-color: rgba(20, 20, 20, 0.9);
  border: 1px solid rgba(156, 154, 154, 0.76);
  /* padding-left: 5px; */
  padding-top: 5px;
  width: 130px;
  z-index: 10;
  text-align: left;
  height: 85px;
  top: 38px;
  border-radius: 3px;
  transition: 0.2s;
}

.navbar-right-wrap:hover .navbar-menu {
  display: block;
  /* position: absolute; */
}

.navbar-right-wrap {
  cursor: pointer;
  /* display: flex; */
}

.navbar-menu-user {
  border-bottom: 1px solid rgba(156, 154, 154, 0.76);
  /* width: 100%; */
  padding-left: 5px;
  padding-bottom: 5px;
}

.navbar-link-user-profile {
  color: white;
  text-decoration: none;
}

.navbar-link-jobs-index {
  color: white;
  text-decoration: none;
}
.navbar-menu-jobs {
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  border-bottom: 1px solid rgba(156, 154, 154, 0.76);
}

.navbar-menu-jobs:hover {
  background: #029343;
}

.logout {
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
}

.logout:hover {
  background: #029343;
}

.fa-cog {
  font-size: 15px;
}

.navbar-menu-user {
  color: white;
  text-decoration: none;
}

.navbar-menu-user:hover {
  background: #029343;
}
