.footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background: transparent;
  cursor: default;
  display: flex;
  height: 10vh;
  max-height: 10vh;
  flex-direction: column;
  object-fit: contain;
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: default;
  justify-content: center;
}

.thank-you {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  justify-content: center;
  display: flex;
  align-items: center;
}

.thank-you:hover {
  color: #1fce6d;
  transition: 0.6s;
}

.footer-about-us {
  display: flex;
  justify-content: space-around;
}

.info-us {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
  padding-bottom: -2px;
  color: #3caf60cf;
}

.info-us-contacts {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.contact {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.fa {
  font-size: 24px;
}

.fa.fa-github {
  color: white;
}

.fa.fa-github:hover {
  color: #212121;
}

.fa-linkedin {
  color: white;
  background-color: #1c659d;
}

.fa-linkedin:hover {
  opacity: 70%;
}

.fa.fa-angellist {
  color: black;
}

.fa.fa-angellist:hover {
  color: rgb(243, 248, 254);
}
