body {
  margin: 0;
}

button {
  color: white;
  background-color: #1fce6d;
  font-weight: bold;
  border-radius: 12px 12px 12px 12px;
  font-size: 14.4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  cursor: pointer;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-decoration-line: none;
  text-decoration-color: white;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  border: 0;
  box-shadow: none;
  text-decoration: none;
  height: 30px;
}

.splash-page {
  min-width: 100%;
  overflow: hidden;
  margin: 0;

  object-fit: contain;
  height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.splash-body {
  position: relative;

  margin-bottom: 0;
  /* background: 0 0; */
  color: #fff;
  display: flex;
}

.splash-background {
  top: -100px;
  width: 1920px;
  /* height: 1080px; */
  /* min-width: 100vh; */
  /* min-width: 100%; */
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
  filter: brightness(0.6);
}

.splash-text-wrap {
  min-height: 660px;
  padding: 60px 68px 40px;
  margin-bottom: 90px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 380px;
  justify-content: center;
  z-index: 1;

  position: relative;
  text-align: center;
  align-items: center;
  /* font-weight: bolder; */
}

.splash-haulaway-text-logo {
  font-family: 'Pacifico', cursive;
  font-size: 9vh;
  margin: 0;
}

.splash-slogan {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
  margin-top: 0;
  margin-bottom: 0;
}

.splash-little-motivation {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  margin-bottom: 0;
}

.splash-session-buttons {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 210px;
}

.splash-signup-wrap .splash-login-wrap {
  display: flex;
  /* min-height: 40px; */
}

.splash-signup-link {
  font-weight: bolder;
  text-decoration: none;
}

.splash-login-link {
  font-weight: bolder;
  text-decoration: none;
}

/* .splash-signup-wrap:hover .splash-signup-button .splash-signup-link {
  background-color: white;
  color: #1fce6d;
}

.splash-login-wrap :hover .splash-login-button .splash-login-link {
  background-color: white;
  color: #1fce6d;
} */

.center-pixel {
  top: 50%;
  left: 50%;
  position: absolute;
}

.splash-footer {
  position: absolute;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
  justify-content: center;
}

.splash-footer-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
  /* max-width: 1920px; */
  /* margin: 0 auto; */
  top: 0;
  /* left: 0; */
  /* right: 0; */
  width: 100%;

  z-index: 10;
  /* display: flex;
  justify-content: space-between; */
}

.thank-you {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.splash-footer-info {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.engineerd-by {
  padding-right: 10px;
}

.info-us {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact {
  /* text-decoration: none; */
  color: white;
}
