body {
  margin: 0;
}

button {
  color: white;
  background-color: #1fce6d;
  font-weight: bold;
  border-radius: 12px 12px 12px 12px;
  font-size: 14.4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  cursor: pointer;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-decoration-line: none;
  text-decoration-color: white;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  border: 0;
  box-shadow: none;
  text-decoration: none;
  height: 30px;
  outline: none;
}

.splash-page {
  min-width: 100%;
  overflow: hidden;
  margin: 0;
  object-fit: contain;
  height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: default;
}

.splash-body {
  position: relative;
  margin-bottom: 0;
  color: #fff;
  display: flex;
}

.splash-background {
  top: -100px;
  width: 1920px;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
  filter: brightness(0.6);
}

.splash-text-wrap {
  min-height: 660px;
  padding: 60px 68px 40px;
  margin-bottom: 90px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 380px;
  justify-content: center;
  z-index: 1;
  position: relative;
  text-align: center;
  align-items: center;
}

.splash-haulaway-text-logo {
  font-family: 'Pacifico', cursive;
  font-size: 9vh;
  margin: 0;
  transition: 0.5s;
}

.splash-haulaway-text-logo:hover {
  color: #1fce6d;
}

.splash-slogan {
  font-family: 'Pacifico', cursive;
  font-size: 2.5vh;
  margin-top: 0;
  margin-bottom: 0;
}
.splash-slogan:hover {
  color: #1fce6d;
}

.splash-little-motivation {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  margin-bottom: 0;
}
.splash-little-motivation:hover {
  color: #1fce6d;
}

.splash-session-buttons {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 210px;
}

.splash-signup-wrap .splash-login-wrap {
  display: flex;
  /* min-height: 40px; */
}

.splash-signup-link {
  font-weight: bolder;
  text-decoration: none;
  color: #1fce6d;
}

.splash-signup-link:hover {
  color: white;
}

.splash-login-link {
  font-weight: bolder;
  text-decoration: none;
  color: #1fce6d;
}

.splash-login-link:hover {
  color: white;
}

.splash-signup-button {
  color: #1fce6d;
  background-color: rgba(0, 0, 0, 0.399);
  border: 1px solid #1fce6d;
}

.splash-signup-button:hover {
  background-color: #1fce6d;
  color: white;
}

.splash-login-button {
  color: #1fce6d;
  background-color: rgba(0, 0, 0, 0.399);
  border: 1px solid #1fce6d;
}

.splash-login-button:hover {
  background-color: #1fce6d;
  color: white;
}

.center-pixel {
  top: 50%;
  left: 50%;
  position: absolute;
}

.splash-about-us-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-top: 60px;
}

.splash-about-us-link {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #1fce6d;
}

.splash-about-us-link:hover {
  color: #f8f8ff;
}
